@model MvcWebApp.Models.Employee

@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

@using (Html.BeginForm("Save", "Employee", FormMethod.Post))
{
    <table>

        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    @Html.TextBoxFor(m => m.Name)
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    @Html.TextBoxFor(m => m.Address)
                </td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    @Html.DropDownListFor(m=>m.CountryId, new SelectList(Model.Country,"Text","Value"))
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </tbody>
    </table>
}
